In [1]:
# Imports
from uuid import uuid4
from os import remove
from os.path import join
from tempfile import gettempdir
import numpy as np

import pandas as pd
from aequilibrae.project.database_connection import database_connection
from aequilibrae.utils.db_utils import commit_and_close, read_and_close

from aequilibrae.transit import Transit
from aequilibrae.utils.create_example import create_example


# TODO:
# 1. Create separate models folder and run tests on that with new version of preload updated to extract preloads.
# 1a. Update Transit.default_pces
# 2. Ask Pedro about how updated reference zip files should be.
# 3. Build PC, understand how venv's and wsl system works from ground up, ubuntu 22.04, 
# 4. Remove this notebook from git.

In [2]:
def build_pt_preload(
    self, graph, start: int, end: int, default_pce: float = 1.0, inclusion_cond: str = "start"
) -> np.ndarray:

    # Get trip_id based on specified inclusion condition
    with read_and_close(database_connection("transit")) as conn:
        links = pd.read_sql(build_pt_preload_sql(start, end, inclusion_cond), conn)

    # Calculate non-zero preloads for each link
    links["pce"] = default_pce  # Temporary until PCE field is added to database schema
    links = links.groupby(["link_id", "direction"]).sum().rename(columns={"pce": "preload"})

    # Merge preload onto all links/dir's in network and fill in 0 for links with no transit
    preload = pd.merge(graph.graph, links, on=["link_id", "direction"], how="left")
    preload["preload"] = preload["preload"].fillna(0)

    # Extract preload sorted by __supernet_id__ (same ordering as used by capacity in assignment)
    return preload.sort_values(by="__supernet_id__")["preload"].to_numpy()


probe_point_lookup = {
    "start": "MIN(departure)",
    "end": "MAX(arrival)",
    "midpoint": "(MIN(departure) + MAX(arrival)) / 2",
}

def build_pt_preload_sql(start, end, inclusion_cond):

    def select_trip_ids():
        in_period = f"BETWEEN {start} AND {end}"
        if inclusion_cond == "any":
            return f"SELECT DISTINCT trip_id FROM trips_schedule WHERE arrival {in_period} OR departure {in_period}"
        return f"""
            SELECT trip_id FROM trips_schedule GROUP BY trip_id
            HAVING {probe_point_lookup[inclusion_cond]} {in_period}
        """

    # Convert trip_id's to link/dir's via pattern_id's
    return f"""
        SELECT pm.link as link_id, pm.dir as direction, r.pce
        FROM (SELECT pattern_id FROM trips WHERE trip_id IN ({select_trip_ids()})) as p 
        INNER JOIN pattern_mapping pm ON p.pattern_id = pm.pattern_id
        INNER JOIN routes r ON p.pattern_id = r.pattern_id
    """

In [3]:
# Build temporary updated coquimbo file

fldr = join(gettempdir(), uuid4().hex)
print(fldr)
project = create_example(fldr, "coquimbo")

remove(join(fldr, "public_transport.sqlite"))
dest_path = join(fldr, "gtfs_coquimbo.zip")

data = Transit(project)

transit = data.new_gtfs_builder(agency="Lisanco", file_path=dest_path)

transit.load_date("2016-04-13")

# Now we execute the map matching to find the real paths.
# Depending on the GTFS size, this process can be really time-consuming.
transit.set_allow_map_match(True)
transit.map_match()

# Finally, we save our GTFS into our model.
transit.save_to_disk()

/tmp/ec0365d514ae45a6a7a6371fad94d30c

In [5]:
# Attempt to build preload with new pce column

project.network.build_graphs()
project.activate()

g = project.network.graphs["c"]
g.set_skimming(["travel_time"])
g.set_graph("travel_time")
g.set_blocked_centroid_flows(False)
g.graph["capacity"] = 500
g.graph["travel_time"] = g.graph["distance"] / 50

def hr_to_sec(e):
    return int(e * 60 * 60)

start = hr_to_sec(8)
end = hr_to_sec(10)
inclusion_cond = "start"

/home/ubuntu/git/aequilibrae/aequilibrae/project/network/network.py:343: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = pd.read_sql(sql, conn).fillna(value=np.nan)

In [6]:
# Get trip_id based on specified inclusion condition
with read_and_close(database_connection("transit")) as conn:
    links = pd.read_sql(build_pt_preload_sql(start, end, inclusion_cond), conn)
links

      link_id  direction  pce
0        3706         -1    4
1       22560         -1    4
2       22559         -1    4
3       22558         -1    4
4       22557         -1    4
...       ...        ...  ...
6188    22332          1    4
6189    22333          1    4
6190    22334          1    4
6191    22299          1    4
6192    22295          1    4

[6193 rows x 3 columns]

In [7]:
# %%
# project.close()