In [1]:
import os
import sys
from datetime import datetime
import time

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
code_dir = "/mnt/c/Users/jan.zill/code"
tntp_dir = os.path.join(code_dir, "TransportationNetworks_aequilibrae")

In [3]:
scenario = "Berlin-Center" #"Anaheim" #

folder = os.path.join(tntp_dir, scenario)

if scenario == "Anaheim":
    link_file =  "Anaheim_net.tntp"
    trip_file =  "Anaheim_trips.tntp"
elif scenario == "Berlin-Center":
    link_file =  "berlin-center_net.tntp"
    trip_file =  "berlin-center_trips.tntp"
else:
    raise ValueError(f"Unknown scenario {scenario}")

In [4]:
net = pd.read_csv(os.path.join(folder, link_file), skiprows=8, sep="\t")

In [5]:
#net.columns = list(map(lambda x: x.strip(), net.columns))
#net = net.drop(columns=["~", ";"])

In [6]:
net.head(1)

,~,Init node,Term node,Capacity,Length,Free Flow Time,B,Power,Speed limit,Toll,Type,;
0,,1,11000,999999.0,0.0,0.0,0.0,4.0,0.0,0.0,0,;

In [7]:
display(net.shape)
display(net.loc[net[['Init node ', 'Term node ']].duplicated()])
net_clean = net.loc[~net[['Init node ', 'Term node ']].duplicated()]
display(net_clean.shape)

(28376, 12)

,~,Init node,Term node,Capacity,Length,Free Flow Time,B,Power,Speed limit,Toll,Type,;
4906,,1246,1244,2400.0,59.0,2.000000,2.0,4.0,0.0,0.0,1,;
8901,,3644,3643,2400.0,45.0,1.666667,2.0,4.0,0.0,0.0,1,;
17457,,7773,7870,2800.0,198.0,5.333333,2.0,4.0,0.0,0.0,1,;
17466,,7777,7779,2800.0,418.0,10.000000,2.0,4.0,0.0,0.0,1,;
18945,,8468,8472,600.0,49.0,1.333333,2.0,4.0,0.0,0.0,1,;
18956,,8472,8468,600.0,49.0,1.333333,2.0,4.0,0.0,0.0,1,;

(28370, 12)

In [8]:
net_clean.loc[(net_clean['Init node '] == 1246) & (net_clean['Term node '] == 1244)]

,~,Init node,Term node,Capacity,Length,Free Flow Time,B,Power,Speed limit,Toll,Type,;
4905,,1246,1244,2400.0,76.0,1.666667,2.0,4.0,0.0,0.0,1,;

In [32]:
net_clean.to_csv(os.path.join(folder, "berlin-center_net_clean.tntp"), index=False, sep="\t")

## test with different BPR params

In [16]:
n_ = pd.read_csv(os.path.join(folder, "berlin-center_net_clean.tntp"), sep="\t", skiprows=8)

In [17]:
n_['B '] = 0.15

In [18]:
n_.to_csv(os.path.join(folder, "berlin-center_net_clean_bpr_altered.tntp"), index=False, sep="\t")